<header class="header">
  <div class="header-top-wrapper">
    <div class="container">
      <div class="header-top">
        <address class="header-address">
          <p class="header-location">Dywizjonu 303 62F, Kraków</p>
          <div class="header-contact">
            <svg class="top-header-phone-icon" width="16" height="16">
              <use href="../img/icons.svg#icon-phone"></use>
            </svg>
            <a href="href=tel:+48739015281" class="header-tel"
              >+48 739 015 281</a
            >
          </div>
          <ul class="header-soc-list">
            <li class="header-soc-item">
              <a href="" class="header-soc-link">
                <svg class="header-soc-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-insta-1"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-item">
              <a href="" class="header-soc-link">
                <svg class="header-soc-icon" width="24" height="24">
                  <use href="../img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-item">
              <a href="" class="header-soc-link">
                <svg class="header-soc-icon" width="90" height="24">
                  <use href="../img/icons.svg#icon-booksy"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
        <a
          href="https://booksy.com/pl-pl/21966_zebra-salon-fryzjerstwa-i-stylizacji-paznokci_fryzjer_8820_krakow"
          class="header-cta"
          >Zarezerwuj termin!</a
        >
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container header-bottom-container">
      <nav class="header-nav">
        <a href="../index.html" class="header-logo"
          ><img
            src="../img/main_page/logo.png"
            alt="Logo Zebra"
            class="header-img"
            width="140"
        /></a>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="">Start</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="">About us</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link dropped-down-menu" href="">Cennik</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="">Regulamin</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="">Blog</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="">Promocje</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link dropped-down-menu" href="">Galeria</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="">Kontakt</a>
          </li>
        </ul>
      </nav>
      <button class="open-mob-menu-btn">
        <svg class="mob-menu-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
