/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./header-main.css');
@import url('./header.css');
@import url('./mob-menu.css');
@import url('./main-page.css');
@import url('./about_us.css');
@import url('./price-list.css');
@import url('./price-list-hair.css');
@import url('./price-list-hands.css');
@import url('./price-list-feets.css');
@import url('./regulations.css');
@import url('./blog.css');
@import url('./promotions.css');
@import url('./gallery.css');
@import url('./portfolio.css');
@import url('./salon-inside.css');
@import url('./contacts.css');
@import url('./footer.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
